--
-- PostgreSQL database dump
--

\restrict te4q6qK2nzJxhsbdsgUfHjNgqUfMsWfsdUG3sKlewcujtU23qaOfAUKGa6mmwHU

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO langstudy;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO langstudy;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO langstudy;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO langstudy;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO langstudy;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO langstudy;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO langstudy;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO langstudy;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO langstudy;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO langstudy;

--
-- Name: learning_card; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.learning_card (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    front_text character varying(200) NOT NULL,
    back_text character varying(200) NOT NULL,
    example text NOT NULL,
    image character varying(100),
    lesson_id bigint NOT NULL
);


ALTER TABLE public.learning_card OWNER TO langstudy;

--
-- Name: learning_card_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.learning_card ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.learning_card_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: learning_cardreview; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.learning_cardreview (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    status character varying(16) NOT NULL,
    last_reviewed_at timestamp with time zone,
    next_due_at timestamp with time zone,
    streak integer NOT NULL,
    card_id bigint NOT NULL,
    user_id integer NOT NULL,
    CONSTRAINT learning_cardreview_streak_check CHECK ((streak >= 0))
);


ALTER TABLE public.learning_cardreview OWNER TO langstudy;

--
-- Name: learning_cardreview_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.learning_cardreview ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.learning_cardreview_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: learning_language; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.learning_language (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    name character varying(64) NOT NULL,
    code character varying(16) NOT NULL
);


ALTER TABLE public.learning_language OWNER TO langstudy;

--
-- Name: learning_language_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.learning_language ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.learning_language_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: learning_lesson; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.learning_lesson (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    title character varying(120) NOT NULL,
    description text NOT NULL,
    "order" integer NOT NULL,
    language_id bigint NOT NULL,
    CONSTRAINT learning_lesson_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.learning_lesson OWNER TO langstudy;

--
-- Name: learning_lesson_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.learning_lesson ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.learning_lesson_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: learning_quizchoice; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.learning_quizchoice (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    text character varying(255) NOT NULL,
    is_correct boolean NOT NULL,
    question_id bigint NOT NULL
);


ALTER TABLE public.learning_quizchoice OWNER TO langstudy;

--
-- Name: learning_quizchoice_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.learning_quizchoice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.learning_quizchoice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: learning_quizquestion; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.learning_quizquestion (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    text character varying(255) NOT NULL,
    "order" integer NOT NULL,
    is_published boolean NOT NULL,
    lesson_id bigint NOT NULL,
    CONSTRAINT learning_quizquestion_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.learning_quizquestion OWNER TO langstudy;

--
-- Name: learning_quizquestion_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.learning_quizquestion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.learning_quizquestion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: learning_userlessonprogress; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.learning_userlessonprogress (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    current_index integer NOT NULL,
    correct integer NOT NULL,
    wrong integer NOT NULL,
    completed boolean NOT NULL,
    lesson_id bigint NOT NULL,
    user_id integer NOT NULL,
    CONSTRAINT learning_userlessonprogress_correct_check CHECK ((correct >= 0)),
    CONSTRAINT learning_userlessonprogress_current_index_check CHECK ((current_index >= 0)),
    CONSTRAINT learning_userlessonprogress_wrong_check CHECK ((wrong >= 0))
);


ALTER TABLE public.learning_userlessonprogress OWNER TO langstudy;

--
-- Name: learning_userlessonprogress_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.learning_userlessonprogress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.learning_userlessonprogress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: learning_userquizattempt; Type: TABLE; Schema: public; Owner: langstudy
--

CREATE TABLE public.learning_userquizattempt (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_correct boolean NOT NULL,
    choice_id bigint NOT NULL,
    question_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.learning_userquizattempt OWNER TO langstudy;

--
-- Name: learning_userquizattempt_id_seq; Type: SEQUENCE; Schema: public; Owner: langstudy
--

ALTER TABLE public.learning_userquizattempt ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.learning_userquizattempt_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: langstudy
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: langstudy
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: langstudy
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: langstudy
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$720000$qDpAAtJa39pqFefLahM81N$aSejloeXIHl7XK9L/2e+a7f/qWyxkK/GrrfNb+wtd9Y=	2026-02-19 16:14:11.746762+00	f	123			ahpe.sv@gmail.com	f	t	2026-01-12 05:24:26.755147+00
2	pbkdf2_sha256$720000$aS0ppLu2DJGZN0itBi4hIz$a0co7N2rg7+vPeAM4nxunwxF6I8CWap7KNMAEW6ZTWo=	2026-02-20 07:49:42.039476+00	t	admin			mozipaccbet@gmail.com	t	t	2026-01-12 05:31:50.858838+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: langstudy
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: langstudy
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: langstudy
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: langstudy
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	learning	language
8	learning	lesson
9	learning	card
10	learning	userlessonprogress
11	learning	cardreview
12	learning	userquizattempt
13	learning	quizquestion
14	learning	quizchoice
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: langstudy
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: langstudy
--



--
-- Data for Name: learning_card; Type: TABLE DATA; Schema: public; Owner: langstudy
--

COPY public.learning_card (id, created_at, updated_at, front_text, back_text, example, image, lesson_id) FROM stdin;
\.


--
-- Data for Name: learning_cardreview; Type: TABLE DATA; Schema: public; Owner: langstudy
--

COPY public.learning_cardreview (id, created_at, updated_at, status, last_reviewed_at, next_due_at, streak, card_id, user_id) FROM stdin;
\.


--
-- Data for Name: learning_language; Type: TABLE DATA; Schema: public; Owner: langstudy
--

COPY public.learning_language (id, created_at, updated_at, name, code) FROM stdin;
3	2026-01-12 06:56:12.440168+00	2026-01-12 06:56:12.440184+00	╨Р╨╜╨│╨╗╨╕╨╣╤Б╨║╨╕╨╣	en
4	2026-01-12 06:56:12.441783+00	2026-01-12 06:56:12.441791+00	╨а╤Г╤Б╤Б╨║╨╕╨╣ (╤В╨╡╤Б╤В╨╛╨▓╤Л╨╣)	ru
\.


--
-- Data for Name: learning_lesson; Type: TABLE DATA; Schema: public; Owner: langstudy
--



--
-- Data for Name: learning_quizchoice; Type: TABLE DATA; Schema: public; Owner: langstudy
--



--
-- Data for Name: learning_quizquestion; Type: TABLE DATA; Schema: public; Owner: langstudy
--



--
-- Data for Name: learning_userlessonprogress; Type: TABLE DATA; Schema: public; Owner: langstudy
--

COPY public.learning_userlessonprogress (id, created_at, updated_at, current_index, correct, wrong, completed, lesson_id, user_id) FROM stdin;
1	2026-01-12 06:56:30.091004+00	2026-01-12 06:56:30.091019+00	0	0	0	f	4	1
2	2026-01-12 08:02:35.450414+00	2026-01-12 08:02:35.450441+00	0	0	0	f	6	1
3	2026-01-12 08:02:43.980244+00	2026-01-12 08:02:43.980258+00	0	0	0	f	5	1
4	2026-02-19 20:45:49.159519+00	2026-02-19 20:45:49.159532+00	0	0	0	f	4	2
\.


--
-- Data for Name: learning_userquizattempt; Type: TABLE DATA; Schema: public; Owner: langstudy
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 56, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 2, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 14, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- Name: learning_card_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.learning_card_id_seq', 1, false);


--
-- Name: learning_cardreview_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.learning_cardreview_id_seq', 1, false);


--
-- Name: learning_language_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.learning_language_id_seq', 4, true);


--
-- Name: learning_lesson_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.learning_lesson_id_seq', 6, true);


--
-- Name: learning_quizchoice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.learning_quizchoice_id_seq', 60, true);


--
-- Name: learning_quizquestion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.learning_quizquestion_id_seq', 15, true);


--
-- Name: learning_userlessonprogress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.learning_userlessonprogress_id_seq', 4, true);


--
-- Name: learning_userquizattempt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: langstudy
--

SELECT pg_catalog.setval('public.learning_userquizattempt_id_seq', 29, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: learning_card learning_card_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_card
    ADD CONSTRAINT learning_card_pkey PRIMARY KEY (id);


--
-- Name: learning_cardreview learning_cardreview_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_cardreview
    ADD CONSTRAINT learning_cardreview_pkey PRIMARY KEY (id);


--
-- Name: learning_cardreview learning_cardreview_user_id_card_id_b681d8ea_uniq; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_cardreview
    ADD CONSTRAINT learning_cardreview_user_id_card_id_b681d8ea_uniq UNIQUE (user_id, card_id);


--
-- Name: learning_language learning_language_code_key; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_language
    ADD CONSTRAINT learning_language_code_key UNIQUE (code);


--
-- Name: learning_language learning_language_name_key; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_language
    ADD CONSTRAINT learning_language_name_key UNIQUE (name);


--
-- Name: learning_language learning_language_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_language
    ADD CONSTRAINT learning_language_pkey PRIMARY KEY (id);


--
-- Name: learning_lesson learning_lesson_language_id_order_201531d0_uniq; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_lesson
    ADD CONSTRAINT learning_lesson_language_id_order_201531d0_uniq UNIQUE (language_id, "order");


--
-- Name: learning_lesson learning_lesson_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_lesson
    ADD CONSTRAINT learning_lesson_pkey PRIMARY KEY (id);


--
-- Name: learning_quizchoice learning_quizchoice_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_quizchoice
    ADD CONSTRAINT learning_quizchoice_pkey PRIMARY KEY (id);


--
-- Name: learning_quizquestion learning_quizquestion_lesson_id_order_cc2cd5d8_uniq; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_quizquestion
    ADD CONSTRAINT learning_quizquestion_lesson_id_order_cc2cd5d8_uniq UNIQUE (lesson_id, "order");


--
-- Name: learning_quizquestion learning_quizquestion_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_quizquestion
    ADD CONSTRAINT learning_quizquestion_pkey PRIMARY KEY (id);


--
-- Name: learning_userlessonprogress learning_userlessonprogress_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_userlessonprogress
    ADD CONSTRAINT learning_userlessonprogress_pkey PRIMARY KEY (id);


--
-- Name: learning_userlessonprogress learning_userlessonprogress_user_id_lesson_id_f048dec9_uniq; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_userlessonprogress
    ADD CONSTRAINT learning_userlessonprogress_user_id_lesson_id_f048dec9_uniq UNIQUE (user_id, lesson_id);


--
-- Name: learning_userquizattempt learning_userquizattempt_pkey; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_userquizattempt
    ADD CONSTRAINT learning_userquizattempt_pkey PRIMARY KEY (id);


--
-- Name: learning_userquizattempt learning_userquizattempt_user_id_question_id_6c9093ed_uniq; Type: CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_userquizattempt
    ADD CONSTRAINT learning_userquizattempt_user_id_question_id_6c9093ed_uniq UNIQUE (user_id, question_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: learning_card_lesson_id_f51211e6; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_card_lesson_id_f51211e6 ON public.learning_card USING btree (lesson_id);


--
-- Name: learning_cardreview_card_id_09cbb401; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_cardreview_card_id_09cbb401 ON public.learning_cardreview USING btree (card_id);


--
-- Name: learning_cardreview_user_id_221e0ec2; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_cardreview_user_id_221e0ec2 ON public.learning_cardreview USING btree (user_id);


--
-- Name: learning_language_code_c35b8c59_like; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_language_code_c35b8c59_like ON public.learning_language USING btree (code varchar_pattern_ops);


--
-- Name: learning_language_name_735de486_like; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_language_name_735de486_like ON public.learning_language USING btree (name varchar_pattern_ops);


--
-- Name: learning_lesson_language_id_5e0b3c34; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_lesson_language_id_5e0b3c34 ON public.learning_lesson USING btree (language_id);


--
-- Name: learning_quizchoice_question_id_c0cadfe3; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_quizchoice_question_id_c0cadfe3 ON public.learning_quizchoice USING btree (question_id);


--
-- Name: learning_quizquestion_lesson_id_b5a74466; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_quizquestion_lesson_id_b5a74466 ON public.learning_quizquestion USING btree (lesson_id);


--
-- Name: learning_userlessonprogress_lesson_id_4147673b; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_userlessonprogress_lesson_id_4147673b ON public.learning_userlessonprogress USING btree (lesson_id);


--
-- Name: learning_userlessonprogress_user_id_650c92e9; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_userlessonprogress_user_id_650c92e9 ON public.learning_userlessonprogress USING btree (user_id);


--
-- Name: learning_userquizattempt_choice_id_7a124b0e; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_userquizattempt_choice_id_7a124b0e ON public.learning_userquizattempt USING btree (choice_id);


--
-- Name: learning_userquizattempt_question_id_9f765c15; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_userquizattempt_question_id_9f765c15 ON public.learning_userquizattempt USING btree (question_id);


--
-- Name: learning_userquizattempt_user_id_1ddee35e; Type: INDEX; Schema: public; Owner: langstudy
--

CREATE INDEX learning_userquizattempt_user_id_1ddee35e ON public.learning_userquizattempt USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: learning_card learning_card_lesson_id_f51211e6_fk_learning_lesson_id; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_card
    ADD CONSTRAINT learning_card_lesson_id_f51211e6_fk_learning_lesson_id FOREIGN KEY (lesson_id) REFERENCES public.learning_lesson(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: learning_cardreview learning_cardreview_card_id_09cbb401_fk_learning_card_id; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_cardreview
    ADD CONSTRAINT learning_cardreview_card_id_09cbb401_fk_learning_card_id FOREIGN KEY (card_id) REFERENCES public.learning_card(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: learning_cardreview learning_cardreview_user_id_221e0ec2_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_cardreview
    ADD CONSTRAINT learning_cardreview_user_id_221e0ec2_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: learning_lesson learning_lesson_language_id_5e0b3c34_fk_learning_language_id; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_lesson
    ADD CONSTRAINT learning_lesson_language_id_5e0b3c34_fk_learning_language_id FOREIGN KEY (language_id) REFERENCES public.learning_language(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: learning_quizchoice learning_quizchoice_question_id_c0cadfe3_fk_learning_; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_quizchoice
    ADD CONSTRAINT learning_quizchoice_question_id_c0cadfe3_fk_learning_ FOREIGN KEY (question_id) REFERENCES public.learning_quizquestion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: learning_quizquestion learning_quizquestion_lesson_id_b5a74466_fk_learning_lesson_id; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_quizquestion
    ADD CONSTRAINT learning_quizquestion_lesson_id_b5a74466_fk_learning_lesson_id FOREIGN KEY (lesson_id) REFERENCES public.learning_lesson(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: learning_userlessonprogress learning_userlessonp_lesson_id_4147673b_fk_learning_; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_userlessonprogress
    ADD CONSTRAINT learning_userlessonp_lesson_id_4147673b_fk_learning_ FOREIGN KEY (lesson_id) REFERENCES public.learning_lesson(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: learning_userlessonprogress learning_userlessonprogress_user_id_650c92e9_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_userlessonprogress
    ADD CONSTRAINT learning_userlessonprogress_user_id_650c92e9_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: learning_userquizattempt learning_userquizatt_choice_id_7a124b0e_fk_learning_; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_userquizattempt
    ADD CONSTRAINT learning_userquizatt_choice_id_7a124b0e_fk_learning_ FOREIGN KEY (choice_id) REFERENCES public.learning_quizchoice(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: learning_userquizattempt learning_userquizatt_question_id_9f765c15_fk_learning_; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_userquizattempt
    ADD CONSTRAINT learning_userquizatt_question_id_9f765c15_fk_learning_ FOREIGN KEY (question_id) REFERENCES public.learning_quizquestion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: learning_userquizattempt learning_userquizattempt_user_id_1ddee35e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: langstudy
--

ALTER TABLE ONLY public.learning_userquizattempt
    ADD CONSTRAINT learning_userquizattempt_user_id_1ddee35e_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict te4q6qK2nzJxhsbdsgUfHjNgqUfMsWfsdUG3sKlewcujtU23qaOfAUKGa6mmwHU

