{% extends 'albums/base.html' %}
{% block content %}
<h2>Данные из БД</h2>
{% if albums %}
  <table class="table table-striped">
    <thead><tr><th>Название</th><th>Исполнитель</th><th>Год</th><th>Жанр</th><th>Треки</th><th>Страна</th></tr></thead>
    <tbody>
      {% for a in albums %}
        <tr>
          <td>{{ a.title }}</td>
          <td>{{ a.artist }}</td>
          <td>{{ a.year }}</td>
          <td>{{ a.genre }}</td>
          <td>{{ a.tracks }}</td>
          <td>{{ a.country }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>В базе данных нет записей.</p>
{% endif %}
{% endblock %}
